bin/
obj/
build/
debug/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.xdv
*.synctex.gz
data/**/*-debug.md
# SQLite job store (workspace data, created on first UI run, rebuilt by Refresh).
data/jobs.db
data/jobs.db-journal
data/jobs.db-wal
data/jobs.db-shm
